<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>HiDOCTOR Welcomes you!</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="../../Content/all.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery.ui.all.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.autocomplete.css")?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.ui.timepicker.css")?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/HD/common.js")" type="text/javascript"></script>*@
    <script src="../../Scripts/HD/common12.7.0.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script type="text/javascript" src="../../Scripts/jsonpath-0.8.0.js"></script>
    <script src="@Url.Content("~/Scripts/json2.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.timepicker.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/autocomplete.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modalpopup.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.autocomplete.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery-ui-1.8.21.custom.css")?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.msgbox.min.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/DataTable/media/css/demo_table.css")?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Content/DataTable/media/js/jquery.dataTables.js")?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="../../Content/DataTable/media/ZeroClipboard/ZeroClipboard.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Content/DataTable/media/js/TableTools.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Scripts/msg-box.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Scripts/jquery.mtz.monthpicker.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Scripts/popup.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tools.min.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="../../Scripts/jquery.cookie.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Scripts/src/jquery.dynatree.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <link href="../../Scripts/src/skin/ui.dynatree.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/HD/RegionTree.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="../../Scripts/jquery.tokeninput.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <link href="../../Content/token-input.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <link href="../../Content/token-input-facebook.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/HD/UserTree.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="../../Scripts/src/jquery.contextMenu-custom.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <link href="../../Scripts/src/skin/jquery.contextMenu.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.dataTables.rowGrouping.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
    <script src="~/Scripts/jquery.dataTables.columnFilter.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,drawing&sensor=true"></script>*@
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_0mqvONlBPdAyuAkPhYsN29LuUz2yDhA&libraries=places,drawing&sensor=true"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>*@
    <script src="~/Scripts/jquery.placeholder.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery-blink.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery.multiselect.filter.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery.multiselect.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery.sparkline.min.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src="../../Areas/HiDoctor_Activity/Scripts/fullcalendar.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Areas/HiDoctor_Activity/Scripts/HD/calendar.min.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/AjaxGlobalHandler.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <link href="~/Content/hidoctor.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <script src="~/Scripts/jquery.blockUI.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/jquery.li-scroller.1.0.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <link href="~/Content/li-scroller.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <link href="../../Content/Tree.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" type="text/css" />
    <link href="~/Content/Bootstrap/font-awesome.min.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.form.js")?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>

    <script src="~/Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="~/Scripts/Bootstrap/jquery.bootpag.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <script src="../../Areas/HDNextGen/Scripts/Plugins/slidereveal.js"></script>
    <script src="../../Areas/HDNextGen/Scripts/Plugins/dropzone.js?v=@HiDoctor.BuildVersion.KangleVersion"></script>
    <script src="../../Areas/HDNextGen/Scripts/Plugins/jquery.nicescroll.min.js"></script>
    <script type="text/javascript">
        google.load('visualization', '1', { packages: ['charteditor', 'controls', 'corechart'] });
    </script>
    <script src="~/Scripts/Plugins/jquery.bxslider.js"></script>
    @*<link href="https://assets.freshdesk.com/widget/freshwidget.css" rel="stylesheet" />
    <script type="text/javascript" src="https://assets.freshdesk.com/widget/freshwidget.js"></script>*@
    <link href="~/Content/freshwidget.css?v=@HiDoctor.BuildNo.Build_No" rel="stylesheet" />
    <script src="~/Scripts/freshwidget.js?v=@HiDoctor.BuildNo.Build_No"></script>
    @*<script src="~/Scripts/jquery.cleditor.min.js"></script>*@
    <script src="~/Scripts/jquery-te-1.4.0.min.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <!-- Pagination -->
    <script src="~/Scripts/jquery.simplePagination.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
    <!-- Pagination -->
    <style>
        body {
            font-family: 'Roboto', sans-serif !important;
        }

        .blurbg {
            position: fixed;
            background-color: white;
            opacity: 0.5;
            z-index: 999;
            width: 100%;
            height: 100%;
            display: none;
        }
        /*Do not Remove. We overide the all.css font family for HDNEXTGEN*/
        .fa {
            font-family: FontAwesome !important;
        }
    </style>
</head>
<body id="top" style="font-family: 'Roboto', sans-serif !important;background-color: #f1f1f1;">
    <div class="blurbg"></div>
    @*  @Html.Partial("_ViewSwitcher");*@
    @RenderBody()
</body>
<script type="text/javascript">
    var domainName_g = "";
    var sessionLive_g = "";
    var DO_NOT_SESSION_EXPIRED_PAGES = [];
    $(document).ready(function () {

        DO_NOT_SESSION_EXPIRED_PAGES.push("SECONDARYSALES/CREATE");
        //  DO_NOT_SESSION_EXPIRED_PAGES.push("APPROVAL/DCRAPPROVAL");
        //  DO_NOT_SESSION_EXPIRED_PAGES.push("REPORTS/DCRCONSOLIDATEDREPORT");
        // DO_NOT_SESSION_EXPIRED_PAGES.push("REPORTS/DCRCONSOLIDATEDTABULAR");

    });
    function fnLoadBody(url, obj, menuId) {

        $('.active').removeClass('active');
        $("#divPageHeader").html("");
        $("#dvAjaxLoad").show();


        if (url.toUpperCase().indexOf('.ASPX') > -1) {
            $("#main").html("");
            $("#main").load("Home/SFAWA/" + menuId);
            // $("#main").load("Home/SFAWA/HTML/SessionExpired.html");
            fnScreensVisitedStatistics(menuId);
        }
        else if (url.toUpperCase().indexOf('HTTP') > -1) {
            window.open(url, "_blank");
        }
        else {
            $("#page-header").show();
            if ($(obj).html() != null) {
                $("#divPageHeader").html("" + $(obj).html() + "");
            }

            var sessionLiveFlag = false;
            for (var i = 0; i < DO_NOT_SESSION_EXPIRED_PAGES.length; i++) {
                if (url.toUpperCase().indexOf(DO_NOT_SESSION_EXPIRED_PAGES[i]) > -1) {
                    sessionLiveFlag = true;
                    break;
                }

            }
            if (sessionLiveFlag) {
                sessionLive();

            }
            else {
                if (sessionLive_g != null) {
                    clearInterval(sessionLive_g);
                    sessionLive_g = null;
                }
            }

            $("#main").html("");
            $("#main").load(url);
            fnScreensVisitedStatistics(menuId);
        }

    }
    function fnScreensVisitedStatistics(menuid) {
        //get the applied users
        $.ajax({
            type: "POST",
            url: 'ChangePassword/InsertMenuVistDetails',
            data: 'menuID=' + menuid,
            success: function (result) {
                if (result = "0") {

                }
            }
        });
    }
    function sessionLive() {
        sessionLive_g = setInterval(function () { fnGetSession(); }, 300000);

    }

    function fnGetSession() {
        $.ajax({
            type: 'POST',
            url: '../../Home/GetHomeSession/',
            data: 'A',
            success: function (response) {

            },
            error: function () {

            }
        });

    }
</script>

</html>
