@{
    ViewBag.Title = "CreateUserProductMapping";
    Layout= null;
}

<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Bootstrap/bootstrap.js"></script>
<link type="text/css" href="../../Areas/HiDoctor_Master/Content/UsercreationWizard.css" rel="stylesheet" />

<div class="col-md-12 cls_nomargin_nopadding">
    <div class="col-md-10 cls_nomargin_nopadding">
        <div class="cls_div_header">SETUP WIZARD FOR USER TO BE HIDOCTOR ENABLED</div>
    </div>
    <div class="col-md-10 cls_nomargin_nopadding">
        <ul id='ullist' class=" cls_profile_wizard_header">
            <li class="cls_up_stpe1 cls_up_inactive tick_img"><a>Step - 1/5
            <br />
                <span>Employee Details</span>
            </a></li>
            <li class="cls_up_step2 cls_up_inactive tick_img"><a>Step - 2/5
            <br />
                <span>Leave Details</span>
            </a></li>
            <li class="cls_up_step3 cls_up_active"><a>Step - 3/5
            <br />
                <span>Product Mapping</span>
            </a></li>
            <li class="cls_up_step4 cls_up_inactive"><a>Step - 4/5
            <br />
                <span>Other Mappings</span>
            </a></li>
            <li class="cls_up_step5 cls_up_inactive"><a class="cls_cut">Step - 5/5
            <br />
                Launch Hidoctor
            </a></li>
        </ul>
        <div class="clearboth">&nbsp;</div>
    </div>

    <div id="divMaininputs" class="col-md-10 cls_nomargin_nopadding form-group">
        <div class="col-md-12 cls_nomargin_nopadding form-group clearfix">
            <div class="col-xs-3">
                <label>Employee Name</label>
            </div>
            <div class="col-xs-3">
                <span id="spnEmployeeName"></span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12 cls_nomargin_nopadding form-group clearfix">
            <div class="col-xs-3">
                <label>User Type</label>
            </div>
            <div class="col-xs-3">
                <span id="spnUsertype"></span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12 cls_nomargin_nopadding form-group clearfix">
            <div class="col-xs-3">
                <label>Division</label>
            </div>
            <div class="col-xs-3">
                <span id="spnDivision"></span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12 cls_nomargin_nopadding form-group clearfix">
            <div class="col-xs-3">
                <label>Region</label>
            </div>
            <div class="col-xs-3">
                <span id="spnRegion"></span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="divNew">Product Names</div>
        <div style="clear: both;"></div>
        <br />
        
@*        <div class='col-md-10 cls_nomargin_nopadding form-group'>
            <div class='col-md-12 cls_nomargin_nopadding form-group clearfix'>
                <div class='col-xs-2'>
                    <input type='checkbox' name='chkSelectAll' onclick='fnSelectAll();' />Select All
                </div>
                <div class='col-xs-3'>
                    <input type='text' id='txtsearchproduct' class='form-control' placeholder='Search product Name' />
                </div>
                <div class='col-xs-3'>
                    <button class='btn btn-primary' id='btnsearchproduct' onclick='fnSearchProduct();'>Search</button>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>*@
        
        <div id="divProducts"></div>
    </div>
    <div class="table-responsive col-md-10 cls_nomargin_nopadding form-group">
        <div class="col-md-12 cls_nomargin_nopadding form-group clearfix">
            <div class="col-xs-6">
                <input type="button" id="btnBackUserProduct" value="Back" class="btn btn-primary" onclick="fnBackUserProduct('BACK',doj_g,hiDoctorStartDate_g);" />
                <input type="button" id="btnNextUserProduct" value="Next" class="btn btn-success" onclick="fnNextUserProduct(doj_g,hiDoctorStartDate_g);" />
                @*<input type="button" id="btnQuitUserProduct" value="Quit" class="btn btn-info" onclick="fnQuit();" />*@
                <input type="hidden" value="I" id="hdnmodeforProduct" />
            </div>
        </div>
    </div>
</div>

<div id="dvquitPopup" title="New User Creation Wizard">Do you wish to quit the wizard?All data entered will be lost.Click Yes/No</div>


<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/UsercreationWizard.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<script type="text/javascript">
    var employeeName_g = "", userTypename_g = "", divisionName_g = "", regionName_g = "", Usertypecode_g = "",divisionCode_g="",entrymode_g="",userRegionCode_g="",reportingmanagerUsercode_g="";
    var Userproductetails_Sess="",Json_sessUserproductetail="";
    $(document).ready(function () {
        try
        {

            $(document).ajaxStop($.unblockUI);
            UserCode=@Html.Raw(Json.Encode(ViewBag.User_Code));
            employeeName_g = @Html.Raw(Json.Encode(ViewBag.Employee_Name));
            userTypename_g = @Html.Raw(Json.Encode(ViewBag.User_Type));
            divisionName_g = @Html.Raw(Json.Encode(ViewBag.Division_Name));
            regionName_g = @Html.Raw(Json.Encode(ViewBag.Region_Name));
            Usertypecode_g = @Html.Raw(Json.Encode(ViewBag.UserType_Code));
            entrymode_g = @Html.Raw(Json.Encode(ViewBag.entry_Mode));
            divisionCode_g = @Html.Raw(Json.Encode(ViewBag.Division_Code));
            userRegionCode_g = @Html.Raw(Json.Encode(ViewBag.Region_Code));
            reportingmanagerUsercode_g = @Html.Raw(Json.Encode(ViewBag.Reporting_Manager_User_Code));
            hiDoctorStartDate_g = @Html.Raw(Json.Encode(ViewBag.hiDoctorStartDate));
            doj_g = @Html.Raw(Json.Encode(ViewBag.doj));
            if(employeeName_g != "null"){
                $('#spnEmployeeName').html(employeeName_g);
            }
            if(userTypename_g != "null"){
                $('#spnUsertype').html(userTypename_g);
            }
            if(divisionName_g != "null"){
                $('#spnDivision').html(divisionName_g);
            }
            if(regionName_g != "null"){
                $('#spnRegion').html(regionName_g);
            }
            fnGetProducts(entrymode_g);
            //Get Session Values
            Userproductetails_Sess = @Html.Raw(Json.Encode(ViewBag.SessionProductdetails));
            Json_sessUserproductetail = eval('(' +Userproductetails_Sess+')');
            $('#txtsearchproduct').unbind("keypress").bind("keypress",function(e){ if(e.keyCode == 13){ return false}});
            $('#dvAjaxLoad').hide();
        }
        catch (err) {
            $('#dvAjaxLoad').hide();
        }
    });
</script>
