@model HiDoctor_Master.Models.InwardModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}
<style type="text/css">
    .disabled {
        pointer-events: none;
        cursor: default;
    }

    .dataTables_filter {
        width: 500px;
    }


    .expanded-group {
        background: url("../images/hd/minus.jpg") no-repeat scroll left center transparent;
        padding-left: 15px !important;
    }

    .collapsed-group {
        background: url("../images/hd/plus.jpg") no-repeat scroll left center transparent;
        padding-left: 15px !important;
    }

    #loading {
        margin: auto;
        position: relative;
        padding-top: 200px;
    }

    .dynatree-container {
        border: 0px solid gray !important;
    }

    .sorting_1 {
        width: 69px !important;
    }
</style>
@*<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />*@
@*<link href="../../Areas/HiDoctor_Activity/Content/calendar.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
    <link href="../../Areas/HiDoctor_Activity/Content/Activity.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />*@
@*<link href="../Areas/HiDoctor_Master/Content/HD_Master.css" rel="stylesheet" />*@
<script src="../../Scripts/Bootstrap/bootstrap.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<link href="../../Content/Bootstrap/bootstrap.css?v=@HiDoctor.BuildNumber.BuildNo" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    select, input[type=text] {
        font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans",Arial, "sans-serif" !important;
        width: 50%;
    }

    input[type=text] {
        width: 50%;
    }

    table td {
        padding: 3px;
        border: solid 1px #e8eef4;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: #007bff !important;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        
    }
    
    .nav-tabs{
        border-bottom: 0px solid #dddddd;
    }

    #txtSearchNode {
        width: 100% !important;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dataTables.rowGrouping.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/dataTables.scroller.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div id="div-inward">
        <div style="float: left; width: 30%">
            <div>
                <table cellspacing="0" cellpadding="0" style="width: 97%; border: 1px !important;"
                       border="1">
                    <tr>
                        <td>
                            <label id="text" style="float: left">
                                <font>Select Date : </font>
                            </label>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="txtDatePicker" style="float: left" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tree" style="width: 100%; height: 500px; float: left;border-left:1px dotted gray">
                @*<div class='col-xs-3 leftNav' id='leftNav'>
                        <div id="tree" style="float: left; height: auto; width: 100%">
                        </div>
                        <span id="spnTreeResize" onclick="fnTreeResize(this);"><i class="fa fa-chevron-circle-right fa-lg"></i></span>
                        <div style="width: 1px;"></div>
                    </div>*@
                @*<center>
                        <div id="loading"><img src="../../Content/images/loader1.gif" height="32px"></div>
                    </center>*@
            </div>
        </div>


        <div style="float: left; width: 65%">
            @*  <div>
                    <a id="href" href="#" onclick='fnHistory()'></a>
                </div>*@

            <div id="frmloading"><img src="../../Content/images/loader1.gif" height="32px"></div>
            <div>
                <label id="Lbl_Region_name" style="float: left; color: Black; font-size: 15px; table-layout: fixed">
                </label>
            </div>
            <br />
            <div class="tabbable" id="productlist" style="display:none;">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active activeproducts">
                        <a data-toggle="tab" href="#1A" class="ActiveProduct">
                            Active Product
                        </a>
                    </li>
                    <li class="inactive">
                        <a data-toggle="tab" href="#1B" class="Inactiveproduct">
                            In-active Product
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="1A" class="tab-pane fade in active">
                        @*<div><label>Search:</label><input type="text" class="global_filter" id="SearchA" placeholder="Search" onblur="fnSearch(id)"></div>*@
                        <div class="table-responsive results" id="dvTable" style="width: 100%; margin-left: 5px; overflow:auto;">
                        </div>
                    </div>
                    <div id="1B" class="tab-pane fade">
                        @*<div><label>Search:</label><input type="text" class="global_filter" id="SearchB" placeholder="Search" onblur="fnSearch(id)" /></div>*@
                        <div class="table-responsive resultss" id="tblTaskTeamStatus" style="width: 100%; margin-left: 5px; overflow:auto;">
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="dvTable" style="width: 100%; margin-left: 5px; overflow:auto;">
                </div>*@
            <div id="modal" style="border: 5px solid #676A72; background: #fff; padding: 5px;
                font-size: 13px; display: none; margin-left: 5%; width: 800px; height: 550px;
                overflow: auto">
                <span style="float: right; cursor: pointer" onclick="HideModalPopup('modal');">X</span>
                <h2 style="font-size: 15px; border-bottom: 1px solid #efefef; color: #039">
                    Inward Master History:
                </h2>
                <div id="divModel" style="height: 100px;">
                </div>
                <div style="clear: both">
                </div>
            </div>
            <div style="clear: both">
            </div>
            <div style="margin-left: 10px">
                <input id="btnSave" type="button" onclick="fnSave()" />
                <br />
            </div>
            @*<div>
                    <br />
                    <label id="lbl_txt" style="float: left; color: Black">
                        <font>Inward Taken from History</font></label>
                </div>
                <div id="dvTable2" style="width: 100%; margin-left: 5px">
                </div>*@
        </div>
    </div>
    <p>
        @Html.Hidden("UserCode")
        @Html.Hidden("ProductCode")
        @Html.Hidden("SelectDate")
        @Html.Hidden("UserinwardCode")
    </p>

}

<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/Inward.js?v=@HiDoctor.BuildNumber.BuildNo"></script>
<script type="text/javascript" language="javascript">
    //page load event
    var curdate_g
    var currentUserCode_g ="";
    $(document).ready(function () {
        debugger;
        AjaxGlobalHandler.Initiate();
        try
        {
            $('#frmloading').css('display','none');
            //var chkInwardAck = getUserDashboardInwardAcknowlegementConfigValue();
            //if (chkInwardAck == "YES") {
            //    $("#main").block({
            //        message: '<h4>As Per the Inward Acknowledgement Config You can not access this Page</h4>',
            //        css: {
            //            'z-index': '0',
            //            color: '#a94442',
            //            border: '1px solid #ebccd1',
            //            'background-color': '#f2dede',
            //            padding: '15px',
            //            'margin-bottom': '20px',
            //            'border-radius': '4px'
            //        },
            //        overlayCSS:  {
            //            'z-index': '0',
            //            backgroundColor: '#fff',
            //            opacity:         1
            //        }
            //    })
            //}
            //else {
            fnTreePosiition("tree");
            var Dvtree = $("#tree");
            $('.dynatree-container').css('border','none');
            currentUserCode_g = @Html.Raw(Json.Encode(ViewBag.userCode));
            //  fnBindUserTree("tree"); // to bind user tree
            fnGetUserTreeByUserNew(currentUserCode_g, "dvUserTree", "dvFilteredNode");
            $("#btnSave").hide();
            $("#lbl_txt").hide();
            $("#href").hide();
            // $("#btnSave1").hide();
            curdate_g = @Html.Raw(Json.Encode(ViewBag.CurrentDate));
            $("#txtDatePicker").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#txtDatePicker").val(curdate_g);
            //}

            $("#dvAjaxLoad").hide();
        }
        catch(err)
        {
            $("#dvAjaxLoad").hide();
        }
    });
    function fnUserTreePostInit()
    {

    }

    function fnToggleTree() {
        if ($("#spnTreeToggle").html() == "Hide Tree") {
            // $('#tree').hide();
            // $("#leftNav").hide();
            $('#tree').hide();
            $('#leftNav').removeClass('col-xs-5');
            $('#leftNav').removeClass('col-xs-4');
            $('#leftNav').removeClass('col-xs-3');
            $("#divMain").removeClass('col-xs-9');
            $("#divMain").removeClass('col-xs-8');
            $("#divMain").removeClass('col-xs-7');
            $("#divMain").addClass('col-xs-12');
            $("#spnTreeToggle").html('Show Tree');

            //Expand the Tree
            $('#spnTreeResize').attr('title', 'Click here to expand tree');
            $('#spnTreeResize').html('<i class="fa fa-chevron-circle-right fa-lg"></i>');
        }
        else if ($("#spnTreeToggle").html() == "Show Tree") {
            $('#tree').show();
            $('#leftNav').addClass('col-xs-3');
            $('#divMain').removeClass('col-xs-7');
            $('#divMain').removeClass('col-xs-8');
            $('#divMain').removeClass('col-xs-9');
            $("#divMain").addClass('col-xs-9');
            $("#spnTreeToggle").html('Hide Tree');
        }
    }
    function fnToggleInput() {
        if ($("#spnInputToggle").html() == "Hide Input") {
            $("#divInput").slideUp();
            $("#spnInputToggle").html("Show Input");
        }
        else if ($("#spnInputToggle").html() == "Show Input") {
            $("#spnInputToggle").html("Hide Input");
            $("#divInput").slideDown();

        }
    }

    function fnTreeResize(obj) {
        if (treeExpandLevel == 2) {
            treeExpandLevel = -1;
        }
        else {
            treeExpandLevel = parseInt(treeExpandLevel) + 1;
        }
        fnExpandCollapseUserTree(treeExpandLevel, 'leftNav', 'treeNav', obj, 'divMain', 'tree');
    }
</script>
