@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}

<link href="../../Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<script src="../../Scripts/Bootstrap/bootstrap.js"></script>
<script src="~/Scripts/HD/ChangePassword.js"></script>
<style>
    .passwordStrength {
        font-weight: bold;
        font-family: arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-style: italic;
        text-decoration: none;
        color: #B8860B;
    }

    .PasswordExpiryNotify {
        background: #0072C6;
        padding: 10px;
        color: white;
        font-size: 14px;
    }

    .round3 {
    border: 2px solid blue;
    border-radius: 12px;
}
</style>
<div class="col-lg-12 form-group PasswordExpiryNotify" id="dvMessage" style="display: none">
</div>
<div style="padding-left: 30%;padding-right: 30%;">
    <div class="round3" style="margin-top: 15px;">
        <div class="col-lg-12 form-group" style="margin-top: 15px;">
            <div class="col-lg-6 form-group">
                <b>Enter your old password</b>
            </div>
            <div class="col-lg-6 form-group">
                <input type="password" id="txtOldPassword" class="input-large form-control" />
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="col-lg-12 form-group">
            <div class="col-lg-6 form-group">
                <b>Enter your new password</b>
            </div>
            <div class="col-lg-6 form-group">
                <input type="password" id="txtNewPassword" class="input-large form-control" onkeypress="fnstrength(event)" onkeydown="fnstrength(event)" onkeyup="fnstrength(event)" /><label id="lblstrength" runat="server" style="display: none" class="passwordStrength"></label>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="col-lg-12 form-group">
            <div class="col-lg-6 form-group">
                <b>Confirm new password</b>
            </div>
            <div class="col-lg-6 form-group">
                <input type="password" id="txtConfirmPassword" class="input-large form-control" />
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="margin-left:33%;" class="col-lg-12 form-group">
            <button type="button" value="Save" class="btn btn-primary" onclick="fnValidateAndSubmit()">Save</button>
            &nbsp; &nbsp
            <button type="button" value="Cancel" id="Chngpwdcancel" class="btn btn-primary" onclick="fnClearAll()">Clear</button>
         </div>
            <input type="hidden" id="txtpass" />
            <input type="hidden" id="txtpasshistory" />
            <input type="hidden" id="txtpasshistoryneed" />
            <input type="hidden" id="txtpasshistorycount" />
        </div>
</div>
<script type="text/javascript" language="javascript">
    var Loginmode = "@ViewBag.Loginmode";
    var Loginid ="@ViewBag.Loginid";
    
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        debugger;
        try {
            $("#txtpasshistoryneed").val(@Html.Raw(Json.Encode(ViewBag.PasswordHistoryNeed)));
            $("#txtpasshistorycount").val(@Html.Raw(Json.Encode(ViewBag.PasswordHistoryCount)));
            $("#txtpass").val(@Html.Raw(Json.Encode(ViewBag.PasswordStrength)));
            $("#txtpasshistory").val(@Html.Raw(Json.Encode(ViewBag.PassHistory)));
            var passNotifiyMessage = @Html.Raw(Json.Encode(ViewBag.ChangePassMessage));

            if(passNotifiyMessage != ""){
                $("#dvMessage").css('display','block')
                $("#dvMessage").html(passNotifiyMessage)
            }
            $("#dvAjaxLoad").hide();
        }
        catch (err) {
            alert(err.message.toString());
            $("#dvAjaxLoad").hide();
        }
        if (Loginmode != "")
        {
            debugger;
            $.blockUI({ message: '<h1><img src="busy.gif" /> Just a moment...</h1>' });
            $("#Chngpwdcancel").hide();
            $(".PasswordExpiryNotify").hide();
            document.getElementById('dvQuickLinks').style.pointerEvents = 'none';
            document.getElementById('hometopimage').style.pointerEvents = 'none';
            document.getElementById('menu1').style.pointerEvents = 'none';
            $.unblockUI();
        }
        if (Loginid == "PASSWORDEXPIRED")
        {
            debugger;
            $.blockUI({ message: '<h1><img src="busy.gif" /> Just a moment...</h1>' });
            $("#Chngpwdcancel").hide();
            document.getElementById('dvQuickLinks').style.pointerEvents = 'none';
            document.getElementById('hometopimage').style.pointerEvents = 'none';
            document.getElementById('menu1').style.pointerEvents = 'none';
            $.unblockUI();
        }

    });
</script>
