@model HiDoctor_Master.Models.DoctorMasterModel
@{
    ViewBag.Title = "BulkCopy";
    Layout = null;
}

<link href="../../Areas/HiDoctor_Master/Content/DoctorMaster.css" type="text/css" rel="stylesheet" />
<script src="../../Areas/HiDoctor_Master/Scripts/HD_Master/CustomerMaster.js?v=@HiDoctor.BuildNumber.BuildNo" type="text/javascript"></script>
<link type="text/css" href="../../Areas/HiDoctor_Master/Content/HD_Master.css" rel="stylesheet" />
<style type="text/css">
    .placeholder {
        color: #aaa !important;
        font-style: italic !important;
    }
</style>
<link href="../../Content/DoctorMaster.css" type="text/css" rel="stylesheet" />
<div style="width: 100%; margin-left: 5px; border: 1px solid #f2f2f2;">
    <div style="width: 100%; height: 45px; background-color: #f2f2f2;">
        <div style="float: left; padding-left: 10px; padding-top: 6px; width: 60%;">
            <span></span><span style="font-size: 19px; font-weight: bold;" id="spnEntity"></span>
            <span id="spnRegionName" style="font-size: 19px; font-weight: bold;"></span>
        </div>
        <div style="float: right; padding-right: 3px; width: 22%;">
            <div id="dvOptions" class="dvOptions" onclick="fnOpenOptions('COPY');" style="margin-left: 50%;"></div>
            <div id="dvPages" style="display: none; margin-left: 2%;">
            </div>
        </div>
    </div>
    <div style="width: 100%; margin-top: 1%; margin-left: 5px;">
        <div style="width: 25%; float: left; border: 1px solid #f2f2f2; height: 710px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: auto;"
            id="dvLeftPanel">
            <div style="float: left; padding: 5px; width: 97%; background-color: #F8F8F8; text-align: center; font-size: 15px; height: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
                Region Tree
            </div>
            <div id="dvRegionTree" style="height:710px;">
            </div>
        </div>
        <div style="width: 70%; float: left; border: 1px solid #F2F2F2; display: none;" id="dvRightPanel">
            <div style="width: 100%; height: 45px; margin-left: 20px;" id="dvNotification">
                <div style="float: left; width: 48%; background-color: #EFEFEF; font-size: 17px; height: 35px;">
                    <div style="padding-top: 5px; padding-left: 5px;">
                        You can select <span id="spnSelectedCount">5 </span>more Regions
                    </div>
                </div>
            </div>

            <div style="width: 97%; margin-left: 20px;" id="dvSelReg">
                <div style="border: 1px solid #f2f2f2; width: 49%;">
                    <div style="float: left; padding: 5px; width: 98%; background-color: #F8F8F8; font-size: 15px; height: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
                        Selected Regions
                    </div>
                    <div style="width: 100%; float: left; min-height: 100px;" id="dvSelectedRegion"></div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="width: 97%; margin-left: 20px; display: none;" id="dvApproval">
                @*
                <input type="button" id="btnApproval" value="Get Approval" onclick="fnGetApproval();" />*@
                <div class="btnApproval" onclick="fnGetApproval();" id="btnApproval"></div>
            </div>
            <div style="width: 97%; margin-left: 20px; display: none" id="dvGetDoctor">

                <input type="button" id="btnGetDoctors" value="Get Doctors" onclick="fnGetCustomers();" />
                @*     
                <div id="btnGetDoctors" class="btnGetDoctors" onclick="fnGetCustomers();"></div>
                *@
            </div>
            <div style="width: 99%; background-color: #f0f0f0; height: 28px; padding: 3px; display: none;" id="dvSearch">
                <div style="float: left" id="dvMyRegion"></div>
                @*  
                <div style="float: right; width: 30%;">
                    <input type="text" id="txtSearch" placeholder="Search" />
                </div>
                *@
            </div>
            <div style="width: 100%; float: left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: auto; height: 500px;" id="dvMainDoctors">
                <div id="dvBulkDoctors">
                </div>
            </div>
            <div style="width: 97%; margin-left: 20px; display: none;" id="dvCopy">
                <div style="width: 75%; float: left;">
                    @*<input type="button" id="btnCopy" value="Copy Doctors" onclick="fnCopy();" />*@
                    <div>
                        <input type="button" value="Copy Selected Customer" id="btnCopy" onclick="fnCopy()" class="btn small primary" />
                    </div>
                </div>
                <div style="width: 25%; float: left;" id="dvChangeRegion">
                    <input type="button" id="btnChangeRegion" value="Change Region" onclick="fnChangeRegion();" class="btn small primary" />
                    @* 
                    <div class="btnChangeRegion" onclick="fnChangeRegion();" id="btnChangeRegion"></div>
                    *@
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
@Html.HiddenFor(model => model.Region_Code)
@Html.HiddenFor(model => model.Customer_Code)
@Html.HiddenFor(model => model.Entity)
@Html.HiddenFor(model => model.Table_Name)
<script lang="ja">

    var tableName_g = "";
    var entityColumns_g = "";
    var regionCode="";
    var regionName="";
    $(document).ready(function () {
        AjaxGlobalHandler.Initiate();
        try
        {           
            //entity_g =@Html.Raw(Json.Encode(ViewBag.Entity))
            //tableName_g =@Html.Raw(Json.Encode(ViewBag.Table_Name))
            $("#spnEntity").html($("#Entity").val().toUpperCase() + " Bulk Copy");
            entityColumns_g = @Html.Raw(Json.Encode(ViewBag.EntityColumns))
            entityColumns_g = eval('(' + entityColumns_g.Data + ')')
            regionCode= @Html.Raw(Json.Encode(ViewBag.sessionRegionCode)) .split('^')[0] ;
            regionName=@Html.Raw(Json.Encode(ViewBag.sessionRegionCode)) .split('^')[1];
            fnValidateCopy();
            $("#btnGetDoctors").val("Get "+ $("#Entity").val());
            $("#dvAjaxLoad").hide();
        }
        catch(err)
        {
            $("#dvAjaxLoad").hide();
        }

    });
    function fnRegionTreeActivate(node) {
    }
    function fnRegionTreePostInit(node) {
        var treeobj = $("#dvRegionTree").dynatree("getTree")
        var childCount = treeobj.tnRoot.countChildren();
        if (childCount == 1) {
            $("#Region_Code").val(treeobj.tnRoot.childList[0].data.key);
        }
        var selectedNode=treeobj.getNodeByKey(regionCode);
        selectedNode.data.unselectable=true;
        selectedNode.data.hideCheckbox=true;
        $("#dvRightPanel").css("display", '');
    }
    var selKeys = "", selText = "";;
    function fnRegionTreeSelect(select, node) {
        var lastSelectedNode = node.data.key;
        selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.key;
        });
        selText = $.map(node.tree.getSelectedNodes(), function (node) {
            return node.data.title;
        });
        if (selKeys.length > 5) {
            //alert('You can not select more than 5 regions');
            fnMsgAlert('info', 'Message', 'You can not select more than 5 regions');
            node.select(false);
            return;
        }
        var tbl = "";
        for (var c = 0; c < selText.length; c++) {
            tbl += "<div style='width:100%;padding:5px;margin-left:10px;'>" + selText[c] + "</div>";
        }
        var remRegions = 5 - parseFloat(selKeys.length);
        $("#spnSelectedCount").html(remRegions + " ");
        $("#dvSelectedRegion").html(tbl);
        // Get a list of all selected TOP nodes
        var selRootNodes = node.tree.getSelectedNodes(true);
        // ... and convert to a key array:
        var selRootKeys = $.map(selRootNodes, function (node) {
            return node.data.key;
        });
    }


    function fnSelectAll() {
        if ($("input:checkbox[name=chkSelect]").attr("checked") == "checked") {
            $("input:checkbox[name=chkSelectCustomer]").each(function () {
                this.checked = true;
            });
        }
        else {
            $("input:checkbox[name=chkSelectCustomer]").each(function () {
                this.checked = false;
            });
        }
    }


</script>
